<section id="listTricks" class="trick">
    {# <div class="container-fluid"> #}
        <div id="listTricks">
            <div class="row justify-content-center">
            {% for trick in tricks %}                                                
                <div class="col-lg-2 col-md-5 col-xs-12 trickPresentation">                        
                    <div class="trickPicture">
                        <a href="{{ path('trick_show', {'slug': trick.slug}) }}">
                            {% if trick.trickPictures.first.filename is defined %}
                                <img class="img-fluid" src= "{{ asset('uploads/images/trick/' ~ trick.trickPictures.first.filename) }}" id="photoPost">
                            {% else %}
                                <img class="img-fluid" src= "{{ asset('images/headerPicture.jpg') }}" id="photoPost">
                            {% endif %}
                            
                        </a>
                    </div>
                    <div class="trickInfos">
                        <h3 class="text-center text-break trickName">
                            {{ trick.name }}
                        </h3>
                        {% if trick.modifiedAt != null %}
                            <p class="trickDate">Modifié le {{ trick.modifiedAt | date('d/m/Y') ~ ' à ' ~ trick.modifiedAt | date('H:y')}} par {{trick.user.username}}</p>
                        {% else %}
                            <p class="trickDate">Ajouté le {{ trick.createdAt | date('d/m/Y') ~ ' à ' ~ trick.createdAt | date('H:y')}} par {{trick.user.username}}</p>
                        {% endif %}

                        {% if not app.user %}                        
                            <div class="text-center">
                                <a class="trickLink" href="{{ path('trick_show', {'slug': trick.slug}) }}">GO !</a>
                            </div>
                        {% else %}
                            <div class="row">
                                <div class="col-3 text-center">
                                    <a class="btn" href="{{ path('edit_trick', {'id': trick.id}) }}">
                                        <i class="fas fa-pen" title="modifyTrick"></i>
                                    </a>                                
                                </div>                            
                                <div class="col-6 text-center">
                                    <a class="trickLink" href="{{ path('trick_show', {'slug': trick.slug}) }}">GO !</a>
                                </div>
                                <div class="col-3 text-center">                                    
                                    <a class="btn" onclick="confirmDeleteTrick({{ trick.id }})">
                                        <i class="fas fa-trash-alt" title="deleteTrick"></i>                            
                                    </a>                                
                                </div>
                            </div>                                
                        {% endif %}
                    </div>                                                    
                </div>
            {% endfor %}            
            </div>
        </div>         
    {# </div> #}
    
</section>

