<section id="listTricks" class="trick">
    <div class="container-fluid">
        <div id="listTricks">
            <div class="row justify-content-center">
            {% for trick in tricks %}                                                
                <div class="col-lg-2 col-md-5 col-xs-12 trickPresentation">                        
                    <div class="trickPicture">
                        <a href="{{ path('trick_show', {'id': trick.id}) }}">
                            <img class="img-fluid" src= "{{ asset('uploads/images/trick/' ~ trick.trickPictures.first.filename) }}" id="photoPost">
                        </a>
                    </div>
                    <div class="trickInfos">
                        <h3 class="text-center text-break trickName">
                            {{ trick.name }}
                        </h3>
                        {% if trick.modifiedAt != null %}
                            <p class="trickDate">Modifié le {{ trick.modifiedAt | date('d/m/Y') ~ ' à ' ~ trick.modifiedAt | date('H:y')}} par {{Trick.user.username}}</p>
                        {% else %}
                            <p class="trickDate">Ajouté le {{ trick.createdAt | date('d/m/Y') ~ ' à ' ~ trick.createdAt | date('H:y')}} par {{trick.user.username}}</p>
                        {% endif %}
                        <div class="text-center">
                            <a class="trickLink" href="{{ path('trick_show', {'id': trick.id}) }}">GO !</a>
                        </div>                                
                    </div>                                                    
                </div>
            {% endfor %}            
            </div>
        </div>         
    </div>
</section>