{% extends 'base.html.twig' %}

{% block title %}Hello TrickController!{% endblock %}

{% block body %}

    <section class="trick">
        <div id="listTricks">
            <div class="row mx-auto">
            {% for trick in tricks %}                                                
                <div class="col-lg-2 col-md-5 col-xs-12">
                    <div class="row">
                        <div class="col-lg-12 essai">
                            <a href="{{ path('trick_show') }}">
                                <img src= "" id="photoPost">
                            </a>
                        </div>
                        <h3>
                            {{ tricks.name }}
                        </h3>
                        {% if trick.modifiedAt != null %}
                            <p>{{ trick.modifieddAt | date('d/m/Y') ~ ' à ' ~ trick.modifiedAt | date('H:y')}}</p>
                        {% else %}
                            <p>{{ trick.createddAt | date('d/m/Y') ~ ' à ' ~ trick.createdAt | date('H:y')}}</p>
                        {% endif %}
                        <a href="{{ path('trick_show') }}">Voir plus</a>                             
                    </div>
                </div>
            {% endfor %}            
            </div>
        </div>    
    </section>

{% endblock %}
