{# <div id="listTricks"> #}
    <div class="row mx-auto">
    {% for trick in tricks %}                                                
        <div class="col-lg-2 col-md-5 col-xs-12">
            <div class="row">
                <div class="col-lg-12 essai trick-item">
                    <a href="{{ path('trick_show', {'id': trick.id}) }}">
                        <img class="img-fluid" src= "{{ asset('uploads/images/trick/' ~ trick.trickPictures.first.filename) }}" id="photoPost">
                    </a>
                </div>
                <h3>
                    {{ trick.name }}
                </h3>
                {% if trick.modifiedAt != null %}
                    <p>{{ trick.modifiedAt | date('d/m/Y') ~ ' à ' ~ trick.modifiedAt | date('H:y')}}</p>
                {% else %}
                    <p>{{ trick.createdAt | date('d/m/Y') ~ ' à ' ~ trick.createdAt | date('H:y')}}</p>
                {% endif %}
                <a href="{{ path('trick_show', {'id': trick.id}) }}">Voir plus</a>                             
            </div>
        </div>
    {% endfor %}            
    </div>
{# </div>     #}