{# <div id="listTricks"> #}
        <div class="row justify-content-center">
        {% for trick in tricks %}                                                
            <div class="col-lg-2 col-md-5 col-xs-12 trick-presentation">
                {# <div class="row"> #}
                    <div class="trick-picture">
                        <a href="{{ path('trick_show', {'id': trick.id}) }}">
                            <img class="img-fluid" src= "{{ asset('uploads/images/trick/' ~ trick.trickPictures.first.filename) }}" id="photoPost">
                        </a>
                    </div>
                    <h3>
                        {{ trick.name }}
                    </h3>
                    {% if trick.modifiedAt != null %}
                        <p>{{ trick.modifiedAt | date('d/m/Y') ~ ' à ' ~ trick.modifiedAt | date('H:y')}}</p>
                    {% else %}
                        <p>{{ trick.createdAt | date('d/m/Y') ~ ' à ' ~ trick.createdAt | date('H:y')}}</p>
                    {% endif %}
                    <a href="{{ path('trick_show', {'id': trick.id}) }}">Voir plus</a>                             
                {# </div> #}
            </div>
        {% endfor %}            
        </div>
{# </div>     #}